.DS_Store
.*.swp
tests
*.class
h
/Practica03/nbproject/private/
/Practica03/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/Tutorial2/nbproject/private/
/P03E1/nbproject/private/
/P03E1/build/
/P4E1/nbproject/private/
/P4E1/build/
/HitCount/nbproject/private/
/HitCount/build/
/ProyectoHerencia/nbproject/private/
/P5E1/nbproject/private/
/P5E1/build/
/PE5E2/nbproject/private/
/PE5E2/build/
/PruebasEntornos2/nbproject/private/
/PruebasEntornos2/build/